/* Resets */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

/* Variables */

:root {
  --dark: #223;
  --light: white;
  --grey: #e0dcff;
}

/* Styles */

body {
  font-family: Manrope, sans-serif;
  background-color: var(--dark);
  color: var(--light);
}

header {
  text-align: center;
  margin: 2em 0;
  font-size: 1.5rem;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.flashcard-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  grid-auto-rows: auto;
  gap: 2rem;
}

.flashcard {
  font-size: 0.9rem;
  background-color: var(--light);
  color: var(--dark);
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.3);
  position: relative;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 300ms;
  transform: rotateY(var(--rotate-y, 0));
  transform-style: preserve-3d;
  perspective: 1000px;
  height: 30em;
}

.flashcard.flip {
  --rotate-y: 180deg;
}

.flashcard:hover,
.flashcard:focus {
  background-color: var(--grey);
}

.flashcard:focus {
  outline-width: 0;
}

.flashcard .front,
.flashcard .back {
  position: absolute;
  transform: rotateX(0deg);
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flashcard .front {
  display: flex;
  flex-flow: column wrap;
  padding: 1rem;
}

.flashcard .front .question {
  padding: 0 1.5rem 1rem 0;
}

.flashcard .front .difficulty {
  align-self: center;
  margin: 2rem;
  background-color: var(--dark);
  padding: 0.5rem;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}

.flashcard .back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
  font-size: 1.2rem;
  font-weight: 700;
  background-color: rgb(5, 66, 5);
  color: var(--light);
  padding: 1rem;
}

.flashcard .options {
  list-style: inside upper-alpha;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  font-size: 0.9rem;
}

.flashcard .option {
  margin-top: 0.5rem;
}
